body{
    color:white;
    background-color: #121212;
    background-image: url("./background.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    
}
li{
    list-style-type: none;
    background-repeat: no-repeat;
}
.discord{
    float: right;
    position: relative;
    top:650px;
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');